<div class="container">
    <div class="row featurette">
        <div class="col-md-6 order-md-1">
            <h2 class="featurette-heading">Entre em contato. <span class="text-muted">Mande-nos um e-mail.</span></h2>
            <p class="lead"><span>Telefone: </span> 12991245805
            </p>                     
        </div>
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading"><span class="text-muted">Enviar e-mail.</span></h2>
            <form class="form">
                <div class="form-group">
                    <label for="name">Nome: </label>
                    <input type="text" name="name" id="name" class="form-control ml-2" placeholder="Ex: Alef" aria-describedby="helpId">                    
                </div>
                <div class="form-group">
                    <label for="email">E-mail: </label>
                    <input type="text" name="email" id="email" class="form-control ml-2" placeholder="example@example" aria-describedby="helpId">                    
                </div>
                <div class="form-group">
                    <label for="">Mensagem: </label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                </div>                
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary ml-2"> Enviar</button>
                </div>
            </form>
          </div>
    </div>
</div>